body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 32px;
  padding-left:15px;
  text-align:left;
  bottom:250px;
  background-color:white;
  position:relative;
  padding-top: 5%;
}

a {
	color:red;
}
title1 {
	font-size:20pt;
	line-height:24pt;
	font-weight:bolder;
}
title2 {
	font-size:16pt;
	line-height:20pt;
	font-weight:bold;
}
.leftbox{
	width:130px;
	height:300vh;
	background-color:#64b9ee;
	position:fixed;
	top: -100vh; 
 	left: 0px;
 	z-index:3;
 	transition:0.5s;

}

.leftbox.clear{
	opacity:20%;
}
.leftbox.green{
	opacity:100%;

	background-color:#afa93e;
}
.leftbox.ivory{
	opacity:100%;

	background-color:#eed4a9;
}
.leftbox.pink{
	opacity:100%;

	background-color:#f39db6;
}
.leftbox.yellow{
	opacity:100%;

	background-color:#ffd27c;
}
.leftbox.red{
	opacity:100%;

	background-color:#bc6552;
}
.dpub {
	left: 0px;
 	bottom:0px;
	position:fixed;
	margin-bottom:28px;
	padding-left:20px;
 	text-orientation: mixed;
	writing-mode: horizontal-tb;
	font-weight:bolder;
	font-size:13pt;
	letter-spacing: -.5pt;
	line-height:16pt;
	z-index:999;
	display:block;
	color:#002456;



}
.dpub a:hover {
	cursor: pointer;
	font-weight:normal;
	color:#edcf2e;
	text-decoration: underline;
}

.dpub a {
	color:#002456;
	text-decoration:none;
	display:block;

}

.nav{
	width:130px;
	height:300vh;
	top: -100vh; 
    left: 0px;
	padding-left:20px;
    position:fixed;
	justify-content: space-around;
    z-index:100;
}

.btn{
	margin:0px;
 	writing-mode: vertical-rl;
  	text-orientation: sideways;
  	padding-top:28px;
  	padding-left:20px;
  	font-size:20pt;
  	font-weight:bolder;
	color:#002456;
  	left: 0px;
  	padding-left:4px;
    position:fixed;
  	z-index: 4;

  	display: inline-block;
  }


.btn a:hover {
  	font-weight:normal;
  	color: #edcf2e;
  	cursor: pointer;
  		text-decoration: underline;

}
.btn.project{
	font-weight:normal;
  	margin-top:15vh;
 	bottom:0px;
	position:fixed;
	margin-bottom:110px;
	opacity:70%;
}
.btn.project.a {
  	padding-left:36px;
}
.btn.project.b {
  	padding-left:23px;
}
.btn.project.c {
  	padding-left:10px;
}


.btn a {
	color:black;
text-decoration:none
}
.color {
    position:fixed;
	justify-content: space-around;
    z-index:100;
	writing-mode: horizontal-tb;
 	bottom:0px;
	position:fixed;
	top:0;
  	padding-left:2px;
	margin-top:27vh;
	font-weight:bolder;
	font-size:13pt;
	letter-spacing: -.5pt;
	line-height:18pt;

}

.colorbtn {
	margin-top:7px;
	margin-right:7px;
	margin-bottom:7px;
	z-index:1000;

}
.colorbtn-home{
	font-weight:normal;
	line-height:30pt;

}
.colorbtn-about{
	font-weight:normal;
	line-height:30pt;

}
.colorbtn:hover {
 	color:white;
	text-decoration: underline;
	font-weight: normal;
 	cursor: pointer;
 }
.colorbtn-home:hover {

 	color: white;
	text-decoration: underline;
	font-weight: normal;

 	cursor: pointer;
 }
 .colorbtn-about:hover{
 	color: white;
	text-decoration: underline;
	font-weight: normal;

 	cursor: pointer;
}
 .item.hide{
  display: none;
}

.title {
	font-size:28pt;
	writing-mode: vertical-lr;
	top:0px;
	left:0px;
	position:fixed;
	padding-top:20px;
	padding-bottom:20px;
	margin-left:22px;
	text-align:left;
	z-index:4;
	color:#002456;


}

.container {
	position:relative;
	top:0px;

	flex-wrap:wrap;
	overflow: hidden;

	padding-left:130px;
	text-align:center;

	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:flex-start;
	padding-top: 200pt;



}



.description {
  	justify-content:flex-end;
	font-size:14pt;
	padding-right:20px;
	padding-left:10px;
	display:inline-block;
	color:#002456;
		padding-bottom:40pt;
	z-index:1;
	text-align:left;


}

.description.hide {
	display: none;
}


.item {


	display: inline-block;
	flex-wrap:wrap;
	font-size:12px;
	text-align:center;
  	width:32.0%;
 	color:black;
 	margin:auto;
 	margin-bottom: 20px
	align-items:flex-start;
	text-align: center;
	min-width:200px;


}

.item img {

  	filter: grayscale(80%);
  	filter: saturate(-10);
   	display: block;
 	margin: 0px;
 	margin-bottom: 0px;
  	width: 100%;
  	z-index:100;
	text-align:center;

}
.item img:hover {
  filter: grayscale(0%);
} 

.item.hide {
  display: none;
}

.about {
	padding-top:50px;
	font-size:14pt;
	line-height:17pt;
	text-align:left;
	color:#002456;
	margin-left:10px;
	margin-right:10px;
	
	display:none;
}

.about.appear {
	display:inline-block;
}
.about.hide {
	display:none;
}
.footer{
	width: 100%;
	color:black;
	text-align: left;
	position:relative;
	bottom:-245px;
	padding-top:0500px;
	padding-left:130px;
	font-size:10pt;
	position:flex-end;
	z-index:0;
}

@media(max-width: 550px){

	.leftbox{
	width:80px
	}
	.dpub{
	font-size:10pt;
	margin-left:-6pt;
	letter-spacing: -1pt;
	line-height:20pt;
	bottom:0px;
	margin-bottom:3px;
	}
	.title{
	font-size:20pt;
	transition:1s;
	margin-left:10px;
}
	.colorbtn{
	margin-left:-5px;
	}
	.colorbtn-home{
	margin-left:-5px;
	}
	.colorbtn-about{
	margin-left:-5px;
	}
	.container {
	left:0px;
	padding-left:85px;
	}
	.description {
  	justify-content:flex-end;
	font-size:12pt;
	padding-right:10px;
	padding-left:5px;
}
	.about{
	font-size:12pt;
	line-height:15pt;
	text-align:left;
	color:#002456;
	margin-left:0px;
	margin-right:0px;
	}
	.footer{
	padding-left:75px;
}
	.btn.project{
	display:none;
	transition:1s;
}

}
