body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 32px;
  padding-left:15px;
  text-align:left;
  bottom:250px;
  background-color:#a3080c;
  width:200%;
  height:200%;
  position:relative;
  padding-top: 5%;
  /*no horizontal scroll*/
 	overflow-y: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
		position:fixed;


}

a {
	color:red;
}

.leftbox{
	width:90px;
	height:80px;
	right:0;
	border-radius:4px;
	background-color:#fdd03b;
	position:fixed;
	bottom: 0; 

 	z-index:0;
 	opacity:100%;
}
.dpub {
	right:0;

 	bottom:0px;

	position:fixed;
	margin-bottom:14px;
	padding-right:25px;
 	text-orientation: mixed;
	writing-mode: horizontal-tb;

		text-align: right;

	font-size:13pt;
	letter-spacing: -.5pt;
	line-height:13pt;
	z-index:9;
	display:block;
 	opacity:100%;

}
.dpub a:hover {
	cursor: pointer;
	font-weight:bold;
	color:#fdd03b;
	text-decoration: underline;
}

.dpub a {
	color:black;
	text-decoration:none;
	font-weight:normal;
	display:block;

		text-align: right;

 	opacity:30%;

}

.nav{
	width:130px;
	height:300vh;
	top: -100vh; 
    left: 0px;
	padding-left:20px;
    position:fixed;
	justify-content: space-around;
    z-index:100;
}

.btn{
	margin:0px;
 	writing-mode: vertical-rl;
  	text-orientation: sideways;
  	padding-top:28px;
  	padding-left:20px;
  	font-size:20pt;
  	font-weight:bolder;
	color:#002456;
  	left: 0px;
  	padding-left:4px;
    position:fixed;
  	z-index: 3000;

  	display: inline-block;
  }

.btn.email{
  	padding-left:10px;
  	z-index: 3000
}
.btn.website{
  	padding-left:23px;
    z-index: 2000
}
.btn.instagram{
  	padding-left:36px;
    z-index: 1000

}

.btn.project{
  	font-weight:normal;

  	opacity:20%;
  	color:black;
  	position:fixed;
  	left:0px;
  	bottom:0px;
  	padding-bottom:120px;
  	padding-left:10px;
}



.btn a {
	color:black;
text-decoration:none

}


.text {
	font-size:8vh;
	position:fixed;
	top:0px;
	left:0px;
	margin-top:5vh;
	margin-left:0px;

	color:#fdd03b;
	z-index:1;
	font-weight:bolder;

  	text-align: left;


	padding:0;
	text-transform:capitalize;

}
.text :hover {
	color:black;
	-webkit-text-stroke-width: 1px;
 	-webkit-text-stroke-color: #fdd03b;
}
hl {
	line-height: 15vh;
 background-color:black;
 padding:0.1em 0.2em;
 margin:10px;
 margin-left:0;
 padding-right:2vh;
     animation:blinkingText1 1s infinite;

}


.textv {
	font-size:8vh;
	position:fixed;
	top:0px;
	right:0px;
 	writing-mode: vertical-rl;
	margin-left:0px;
	height:100%;

	color:black;
	z-index:1;
	font-weight:bolder;

  	text-align: left;


	padding:0;
	text-transform:capitalize;

}
.textv :hover {
	color:black;
	-webkit-text-stroke-width: 1px;
 	-webkit-text-stroke-color: #fdd03b;
}
h2 {
	line-height: 8vh;
 background-color:#fdd03b;
 padding:0.1em 0.2em;


 margin-left:0;

     animation:blinkingText1 1s infinite;

}

@keyframes blinkingText{
    40%{      background-color: black; }
    50%{     background-color: transparent;
	-webkit-text-stroke-width: 3px;
 	-webkit-text-stroke-color: #fdd03b;}
    55%{     background-color: transparent;
	-webkit-text-stroke-width: 3px;
 	-webkit-text-stroke-color: #fdd03b;}
    80%{     background-color: black; }

}

li {
	position:absolute;
	top:530px;
	padding-left:160px;
	font-weight: bold;
	font-size:150pt;
	color:#002456;
	text-align:left;
    margin:0;
    display:block;
    margin-bottom: 50px;
  	z-index:-100;


}

.hi {
	position:absolute;
  	user-select:none;
  	z-index:-100;

	}
	
#animation {
    transform: perspective(525px) translateZ(100px)
    rotateX(10deg) rotateY(-50deg);
    transition: all 600ms linear 0s;
    animation: pers 2s infinite alternate;
  	z-index:-100;

}

@keyframes pers {
  0% {
transform: perspective(525px) translateZ(100px)
          rotateX(18deg) rotateY(-19deg);
  }
  20% {
transform: perspective(525px) translateZ(100px)
          rotateX(35deg) rotateY(-24deg);
  }
  50% {
transform: perspective(525px) translateZ(100px)
          rotateX(5deg) rotateY(-25deg);
  }
    70% {
transform: perspective(525px) translateZ(100px)
          rotateX(-15deg) rotateY(-19deg);
  }
  100% {
transform: perspective(525px) translateZ(100px)
          rotateX(1deg) rotateY(-5deg);
  }  

}


@media(max-width: 550px){

	.leftbox{
	width:80px
	}
	.dpub{
	font-size:10pt;
	margin-left:-6pt;
	letter-spacing: -1pt;
	line-height:20pt;





	bottom:0px;
	margin-bottom:3px;
	}
	.btn{
	top:0px;
	margin-top:-10px;
	font-size:18px;

	}
	.btn.email{
  	padding-left:5px;
	}
	.btn.website{
  	padding-left:14px;
	}
	.btn.instagram{
  	padding-left:23px;
  }
  	li{
	position:absolute;
	top:360px;
  	}
	.hi{
	margin-left:-68px;
	margin-bottom:-50px;
	overflow-y:hidden;
	}
	.background{
	display:none;
	}
	.name{
	font-size:30pt;
	position:absolute;
	top:0px;
	padding-top:267px;
	padding-left:80px;
	}
	.container {
	left:0px;
	padding-left:55px;

	overflow-y:auto;
	}

	.description{

	position:absolute;
	top:0px;
	margin-top:610px;
	flex-wrap:wrap;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:flex-start;
	font-size:10pt;
	line-height:13pt;
	text-align:left;
	color:#002456;
	padding-left:80px;
	padding-right:20px;
	float:left;


	}
	.footer{
	padding-left:75px;
	font-size:8pt;
}
	.btn.project{

	top:0px;
	margin-top:36vh;
	font-size:18px;

	}
	.btn.project.c{
  	padding-left:5px;
	}
	.btn.project.b{
  	padding-left:14px;
	}
	.btn.project.a{
  	padding-left:23px;
  }
}

}





